:root {
  --color-calendar-graph-day-bg: #dad8d8;
  --color-calendar-graph-day-L1-bg: #4ceb47;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --container-color: #343436;
}

rect.ContributionCalendar-day[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full > .float-left {
  display: none;
}
.dark-theme {
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --container-color: #edf0fa;
  --box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
  --cloud-img: url(https://i.pinimg.com/originals/ac/6e/06/ac6e06f77344e757114f4b3ac9fdd79c.gif);
}
.calendar {
  font-family: Helvetica, arial;
  /* border: 1px solid #DDDDDD; */

  border-radius: 3px;
  /* overflow-x: scroll; */
  min-height: 243px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow-y: scroll;
  color: var(--secondary-color);
}
.calendar-cont{
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: var(--secondary-color);
  border: 5px solid red;
}

.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.text-small {
  font-size: 12px;
  color: var(--secondary-color);
}

.calendar-graph {
  /* border: 2px solid green; */
  padding: 5px 0 0;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  /* border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; */
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: var(--secondary-color);
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: var(--secondary-color);
  font-family: monospace;
}

.monospace a {
  color: #1d75ab;
  text-decoration: none;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 9px;
  color: var(--secondary-color);
}
.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

.float-left.text-gray {
  float: left;
}
#user-activity-overview {
  display: none;
}

.day-tooltip {
  white-space: nowrap;
  position: absolute;
  z-index: 99999;
  padding: 10px;
  font-size: 12px;
  color: var(--secondary-color);
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  display: none;
  pointer-events: none;
}
.day-tooltip strong {
  color: var(--secondary-color);
}
.day-tooltip.is-visible {
  display: block;
}
.day-tooltip:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  margin: 0 0 0 -5px;
  content: " ";
  border: 5px solid transparent;
  /* border-top-color: rgba(0,0,0,.85) */
}

text.ContributionCalendar-label {
  fill: var(--secondary-color);
  font-size: 11px;
}
.text-calender {
  text-align: center;
  color: #7f5cff;
  font-size: 30px;
  margin-bottom: 30px;
}

.subtitle-calender {
  text-align: center;
  display: block;
  font-size: 0.75rem;
  color: rgb(151, 150, 150);
  font-weight: 700;
  margin-top: 100px;
}
@media screen and (min-width: 260px) and (max-width: 480px) {
  .calendar {
    width: 100%;
    margin: auto;
  }
  .calendar-cont{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 820px) {
  
    .calendar-cont{
      /* border: 1px solid red; */
      width: 60%;
      margin: auto;
    }
    .calendar {
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 821px) and (max-width: 1024px) {
}
