* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
  /* background-color: white; */
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7f5cff;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  /* transform: all 5s  ease-in; */
  /* animation-delay: 1s; */
}

/* ========================= NavBar ======================= */

header {
  padding: 10px 20px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  text-decoration: none;
  font-size: 30px;
  color: var(--secondary-color);
}
#logo::after {
  content: "K";
  color: #7f5cff;
  text-decoration: line-through;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#link-nav {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li {
  padding: 5px 10px;
  border: none;
  display: inline-block;
  padding: 5px;
  transition: all linear 0.5s;
  margin-right: 20px;
}
nav li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 5px;
  text-transform: capitalize;
}
nav li a:hover {
  color: rgb(127, 92, 255);
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
}
#icon {
  cursor: pointer;
  color: var(--secondary-color);
}
:root {
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --cloud-img: url(https://images.squarespace-cdn.com/content/v1/5ce985da915a3a0001039c39/1559027925649-2M9BFEZQXII1FASRPFFX/moon.gif);
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --container-color: #343436;
  /*========== Font and typography ==========*/
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font and typography ==========*/
  --h2-font-size: 1.25rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  /* ==============images========= */
}
.dark-theme {
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --container-color: #edf0fa;
  --box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
  --cloud-img: url(https://i.pinimg.com/originals/ac/6e/06/ac6e06f77344e757114f4b3ac9fdd79c.gif);
}
section {
  min-height: 100vh;
  width: 100%;
}
#about {
  border: 1px solid var(--primary-color);
}

.about-flex {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 150px;
  /* border: 2px solid red; */
}
.active a {
  /* background: var(--secondary-color); */
  color: rgb(127, 92, 255);
  /* border-radius: 5px; */
}
.info {
  margin-top: 30px;
  /* border: 1px solid #e62323; */
}
.info h1 {
  font-size: 40px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.info h1 span {
  color: #7f5cff;
}
.info p {
  color: var(--secondary-color);
  line-height: 22px;
  text-align: justify;
}
.info a {
  color: white;
  background-color: #7f5cff;
  padding: 10px 18px;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
  font-weight: 400;
}
.info a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
/* =============================== Blob and image ====================================== */
.blob-circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #7f5cff;
  /* z-index: 100; */
  border: 7px solid #7f5cff;
}

.blob-circle > div {
  width: 100%;
  height: inherit;
  /* border: 1px solid #ffffff; */
}
.blob-circle > div .imgtag {
  width: inherit;
  height: 100%;
  padding: 5px;
  /* margin-top: 45px; */
  /* z-index: -1; */
  border-radius: 50%;
}
/* ============================= Social Links icons ==================================== */

.home__social {
  position: absolute;
  width: 70px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  margin: auto;
  /* border: 1px solid blue; */
  left: 5px;
  top: 220px;
  row-gap: 0.5rem;
}

.home__social-link {
  color: var(--secondary-color);
  font-size: 28px; /*social link icon size*/
  text-decoration: none;
  transition: 0.4s;
  /* box-shadow: 0 2px 8px hsl(219, 48%, 8%, .1); */
}

.home__social-link:hover {
  /* background-color: #7f5cff; */
  color: #7f5cff;
}

.home__social::after {
  /* content: ''; */
  width: 32px;
  height: 2px;
  background-color: var(--secondary-color);
  transform: rotate(90deg) translate(16px, 3px);
}

/*========================= SKILLS ===========================*/

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: 30px;
  color: #7f5cff;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: rgb(151, 150, 150);
  font-weight: 700;
  margin-top: 100px;
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid #7f5cff; */
  width: 65%;
  height: 410px;
  margin: auto;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 10px;
}

.skills__content {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
  width: 348.59px;
  height: 180px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.skills,
.project {
  /* border: 6px solid red; */
  border: 1px solid var(--primary-color);
}
.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: #7f5cff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bxs-badge-check {
  font-size: 1rem;
  color: #7f5cff;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
  color: var(--secondary-color);
}
/* ===========================Projects==================================== */
#project {
  border: 1px solid var(--primary-color);
}
.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1rem;
  max-width: 80%;
  margin: auto;
  margin-top: 80px;
  /* border: 1px solid red; */
  height: auto;
  align-items: center;
  gap: 1rem;
}

.services__card {
  width: 150px;
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  margin: auto;
}
.services__card img {
  width: 100%;
}

.services__title {
  font-size: 18px;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.services__button {
  color: #7f5cff;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  column-gap: 0.25rem;
  cursor: pointer;
}
.services__model-icon {
  color: var(--secondary-color);
}
.services__button:hover .services__icons {
  transform: translateX(0.25rem);
}

.services__icons {
  font-size: 1rem;
  transition: 0.4s;
}

/* Services modal */

.services__model {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: 10;
}

.services__model-content {
  position: relative;
  background-color: var(--primary-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services__model-title,
.services__model-description {
  text-align: center;
}

.services__model-title {
  font-size: var(--h2-font-size);
  color: #7f5cff;
  margin-bottom: 1rem;
}

.services__model-description {
  font-size: var(--small-font-size);
  color: var(--secondary-color);
  margin-bottom: 2rem;
  text-align: center;
}
.services__model-content h4 {
  color: var(--secondary-color);
  text-align: left;
}
.services__model-content a {
  color: #7f5cff;
  font-weight: 500;
  text-decoration: none;
}
.services__model-item {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.services__model-info {
  font-size: var(--small-font-size);
  color: var(--secondary-color);
}
.services__model-list {
  list-style: none;
  text-align: left;
}
.services__model-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #7f5cff;
  cursor: pointer;
}
.btn-workModel {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}
.btn-workModel a {
  display: block;
  padding: 7px 15px;
  background-color: #7f5cff;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__model-link {
  color: #7f5cff;
}

/*Active modal*/

.active-model {
  opacity: 1;
  visibility: visible;
}
/* **************************TAgs are here******************************** */

.jss994 {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 24px;
  /* border: 1px solid red; */
}
.jss1012 {
  color: grey;
  border: 1px solid var(--container-color);
  cursor: pointer;
  display: flex;
  padding: 8px 12px;
  font-size: 14px;
  align-items: center;
  font-weight: 600;
  line-height: 25px;
  border-radius: 24px;
  background-color: var(--container-color);
  box-shadow: var(--box-shadow);
  /* border: 3px solid green; */
  /* margin: auto; */
}
.jss1014 {
  margin: 0;
}
.jss1017 {
  margin-left: 0px;
}
.jss1013 {
  margin-right: 4px;
}
.jss914 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.jss1018 {
  color: rgb(112, 144, 232);
  cursor: pointer;
  opacity: 1;
  padding: 0px;
  border-radius: 4px;
  background-color: transparent;
}
.jss916 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.jss1018 svg,
.jss1019 svg {
  width: 16px;
  height: 16px;
}
.jss1020 {
  color: rgb(222, 86, 91);
  cursor: pointer;
  opacity: 1;
  padding: 0px;
  border-radius: 4px;
  background-color: transparent;
}
/* ========================= STATS ============================ */
#stats {
  min-height: 10vh;
  margin-bottom: 50px;
  /* border: 2px solid #7f5cff; */
}
.stat-round {
  position: static;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}
.stat-round .box-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
}
.stat-round .box-stat .round-mtr {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #7f5cff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-stat .round-mtr h2 {
  color: var(--secondary-color);
}
.box-stat h3 {
  margin-top: 5px;
  color: var(--secondary-color);
}
.box-stat p {
  color: rgb(149, 147, 147);
  margin-bottom: 10px;
}
/* ****************** INfo Container ************************ */
.info-cont {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  /* border: 1px solid green; */
  /* gap: 1rem; */
}
.info-cont > .info-div {
  /* border: 1px solid red; */
  padding: 1rem;
}
/* .for-img{
  width: 50%;
} */
.for-info {
  width: 50%;
}
.info-ed {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
}
.info-ed .content-info {
  box-shadow: var(--box-shadow);
  /* background-color: var(--container-color); */
  border-radius: 10px;
  color: var(--secondary-color);
  /* border: 1px solid red; */
  width: 45%;
  padding: 1.5rem;
}
.info-ed .content-info span {
  font-size: 12px;
  font-weight: 400;
}
.content-info .about__icon {
  color: #7f5cff;
}

#infor {
  border: 3px solid var(--primary-color);
  /* min-height: 80vh; */
}
#infor > span {
  margin-top: 70px;
}
.info-blob {
  width: 90%;
  height: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  /* background-color: #7f5cff; */
  margin: auto;
}
.info-blob > img {
  width: 90%;
  height: 70%;
  display: flex;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  justify-content: center;
  align-items: center;
}
.p-div-info {
  width: 90%;
  color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 40px;
}
.btn-info {
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.btn-info a {
  padding: 7px 10px;
  background-color: #7f5cff;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
.btn-info a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* ******************** Tech Stacks ***************************** */
.tech-stack {
  min-height: 65vh;
}
.tech-cont {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 12px;
  row-gap: 10px;
  /* border: 1px solid red; */
}
.tech-item {
  width: 170px;
  height: 160px;
  /* background-color: #7f5cff; */
  box-shadow: var(--box-shadow);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  color: var(--secondary-color);
}
.tech-item img {
  width: 50%;
  margin: auto;
  padding: 10px;
}
/* ******************** CONTACT ***************************** */
.container {
  max-width: 968px;
  /* max-width: 80%; */
}
#contact {
  border: 1px solid var(--primary-color);
}
.button {
  display: inline-block;
  background-color: #7f5cff;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: var(--font-medium);
  transition: 0.4s;
}
.button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 1rem;
}
.contact__container {
  /* row-gap: 3rem; */
  
  align-items: center;
  /* border: 1px solid red; */
  padding-bottom: 3rem;
}

.contact__title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 25px;
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  /* width: 75%; */
  margin-top: 50px;
}

.contact__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  color: var(--secondary-color);
}
/* .contact__content{
  /* border: 1px solid green; */
/* } */
.send-Msg {
  width: 50%;
  height: 100%;
  margin: auto;
}
.talkt-me {
  width: 35%;
  height: 100%;
  margin: auto;
}
.contact__card-icon {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 0.25rem;
}

.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}

.contact__card-title {
  font-weight: 400;
}

.contact__card-data {
  display: block;
  margin-bottom: 0.75rem;
}

.contact__button {
  color: #7f5cff;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  column-gap: 0.25rem;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--secondary-color);
  background: none;
  color: var(--secondary-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 13px;
  padding: 0.25rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 9;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}
/* *********************Footer********************* */
footer {
  background-color: #7f5cff;
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

/*===============Mobile======== MEADIA QUERY FOR LAST ===================================*/
@media screen and (min-width: 260px) and (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #link-nav {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 40%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .links {
    margin: 16px 0;
  }
  #link-nav.active {
    left: 0;
  }
  .nav #icon {
    position: absolute;
    right: 70px;
  }
  .about-flex {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .tech-item > img {
    width: 90%;
  }
  .tech-item > h4 {
    font-size: 10px;
  }
  .tech-item {
    width: 90px;
    height: 90px;
    padding: 10px;
  }
  .img-box > .blob-circle {
    width: 210px;
    height: 210px;
    margin: auto;
    /* margin-top: -40px; */
  }
  .info {
    text-align: center;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 60px;
    width: 100%;
  }

  .info h1 {
    font-size: 32px;
  }
  .info p {
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  .btnDiv {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .home__social {
    flex-direction: row;
    width: 140px;
    /* column-gap: 1rem; */
    row-gap: 1rem;
    top: 310px;
    left: 0;
    right: 0;
    /* border: 1px solid blue; */
  }
  .home__social-link {
    font-size: 30px;
  }
  #about {
    /* border: 2px solid red; */
    min-height: 70vh;
  }
  .skills {
    /* border: 6px solid red; */
    min-height: 70vh;
  }

  .skills__container {
    width: 70%;
    height: max-content;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 50px;
    /* column-gap: 20px; */
  }

  .box-stat {
    width: 100px;
  }
  .info-ed {
    flex-direction: column;
    width: 100%;
  }
  .info-ed .content-info {
    width: 100%;
    /* column-gap: 1rem; */
  }
  .info-blob > img {
    width: 100%;
    height: 300px;
  }
  .for-info {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .p-div-info {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .for-img {
    margin: auto;
  }
  .info-cont {
    margin-bottom: 30px;
  }
  .send-Msg {
    display: none;
  }
  .talkt-me {
    width: auto;
  }
  .jss1012 {
    align-items: center;
    margin: auto;
  }
  /* .jss994 {
    
  } */
  /* .contact__info{
  } */
}

/* ================== TAB ==================== */
@media screen and (min-width: 481px) and (max-width: 820px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #link-nav {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 40%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .about-flex {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .info {
    text-align: center;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 60px;
    width: 100%;
  }

  .info h1 {
    font-size: 45px;
  }
  .info p {
    line-height: 28px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .info a {
    padding: 15px 25px;
    font-size: 20px;
  }

  .img-box > .blob-circle {
    width: 280px;
    height: 280px;
    margin: auto;
    /* margin-top: -60px; */
  }
  .links {
    margin: 16px 0;
  }
  #link-nav.active {
    left: 0;
  }
  .nav #icon {
    position: absolute;
    right: 70px;
  }
  #skill {
    /* border: 6px solid red; */

    min-height: min-content;
    /* border: 1px solid var(--primary-color); */
  }

  .skills__container {
    width: 70%;
    height: max-content;
    margin: auto;
    margin-top: 50px;
    /* border: 6px solid green; */
  }
  .home__social {
    flex-direction: row;
    width: 140px;
    /* column-gap: 1rem; */
    row-gap: 1rem;
    top: 370px;
    left: 0;
    right: 0;
    /* border: 1px solid red; */
  }
  .home__social-link {
    /* position: relative; */
    font-size: 35px;
  }
  .box-stat {
    width: 100px;
  }
  #about {
    min-height: 60vh;
  }
  #project {
    min-height: 65vh;
  }
  .info-blob > img {
    width: 100%;
    height: 300px;
  }
  .for-info {
    width: 100%;
    text-align: center;
  }
  .p-div-info {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .for-img {
    margin: auto;
  }
  #infor {
    min-height: 75vh;
  }
  .send-Msg {
    display: none;
  }
  .talkt-me {
    width: auto;
  }
  .jss1012 {
    margin: auto;
  }
}

/* ===================Small screen / Laptop=========================== */
@media screen and (min-width: 821px) and (max-width: 1024px) {
  .about-flex {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .info {
    text-align: center;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 60px;
    width: 100%;
  }
  #about {
    min-height: 60vh;
  }
  #project {
    min-height: 65vh;
  }
  .info h1 {
    font-size: 45px;
  }
  .info p {
    line-height: 28px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .info a {
    padding: 15px 25px;
    font-size: 20px;
  }

  .img-box > .blob-circle {
    width: 280px;
    height: 280px;
    margin: auto;
    /* margin-top: -60px; */
  }
  .home__social {
    top: 410px;
    left: 10px;
    margin: auto;
  }
  .info-div {
    width: 100%;
  }
  #skill {
    /* border: 6px solid red; */

    min-height: min-content;
    /* border: 1px solid var(--primary-color); */
  }

  .skills__container {
    width: 70%;
    height: max-content;
    margin: auto;
    margin-top: 50px;
    /* border: 6px solid green; */
  }
  #infor {
    min-height: 70vh;
  }
  .for-info {
    width: 100%;
    text-align: center;
  }
  .p-div-info {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .for-img {
    width: 55%;
    height: min-content;
    /* border: 3px solid red; */
    margin: auto;
  }

  .send-Msg {
    display: none;
  }
  .talkt-me {
    width: auto;
  }
  .jss994 {
    width: 560px;
    /* border: 2px solid red; */
  }
  .jss1012 {
    margin: auto;
  }
}
/* ==========================Large Screens=============================== */
